.mainText {
    width: 950px;
    height: 1500px;
    margin-left: 465px;
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(0,0,0,0.8)
}

.f-gazyImg {
    width: 600px;
    margin-left: 180px;
    margin-top: 5px;
    justify-content: center;
}